.icon {
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.nav {
  gap: 24px !important;
}

@media (max-width: $mantine-breakpoint-sm) {
  .nav {
    gap: 14px !important;
  }
}

.navLink {
  text-decoration: none;
  color: var(--mantine-color-text);
  transition: color 150ms ease;
}

.navLink:hover {
  color: #c74219;
}
